.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    margin-bottom: 10px;
    box-sizing: border-box;
    
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#selectedImageDiv{
    position: fixed;
    text-align: center !important;
    vertical-align: middle;
    margin-left: 35%; 
    margin-top: 5%; 
    /* width: 70%;  */
}

#folderContentsColDiv{
    margin-top: 2%; 
}

footer {
    background-color: orange;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #2196fe;
    text-align: center;
    padding-top: 2%; 
}

#tagInput{
    color: white;
    border-color: white !important;
}